/* style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #feffed;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    height: 400px;
    text-align: center;
}

.timer-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #660033ce;
    border: 8px solid #660033;
}

.control-buttons {
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}

.control-buttons button {
    background-color: #660033;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.control-buttons button:hover {
    background-color: #660033ce;
    transition: background-color 0.3s;
}

h1 {
    font-family: 'serif', Georgia, serif;
    color: #660033;
    font-size: 40px;
}